@page "/"

<PageTitle>Sales Order Management App</PageTitle>

<div class="ms-3 position-absolute top-50 start-50 translate-middle">
    <h1 class="display-5">Welcome to Sales Order Management App!</h1>
    <br />
    <br />
    <h4>For more information, go to page 'Orders' --></h4>
</div>




